.video-card {
  width: 15vw;
  min-width: 360px;
}

.video-card-container {
  height: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.top-level {
  border: 2px solid;
}
